.DS_Store
# pixi environments
.pixi/*
!.pixi/config.toml
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
results/**
resources/**
logs/**
.snakemake
.snakemake/**
.test/results/*
workflow/notebooks/.ipynb_checkpoints/**
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf
