.DS_Store
# Snakemake workflow defaults
results/**
resources/**
logs/**
.snakemake
.snakemake/**
.test/results/*
workflow/notebooks/.ipynb_checkpoints/**
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# current test files
tests/results/*
tests/logs/*
