.DS_Store
# Snakemake workflow defaults
results/**
resources/**
logs/**
.snakemake
.snakemake/**
.tests/integration/.snakemake/**
.tests/integration/results/**
.tests/integration/logs/**
workflow/notebooks/.ipynb_checkpoints/**
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Error files that pop up sometimes
errors.log
errors.log.mpinode0
